
/* Import from Google Fonts - Sirivennela, Story Script */

@import url('https://fonts.googleapis.com/css2?family=Sirivennela&family=Story+Script&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: slategray;
    /*Import from Google Fonts*/
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
}

